@{
    ViewData["Title"] = "Ervaring";
}

<section id="experience">

<h2 id="heading">Ervaring</h2>

    <div id="skills">
        <h3 id="subheading">Vaardigheden</h3>
        <div class="skills-container">
        <div>
                <div class="skills-header">
                    <h4>HTML</h4>
                    <i class='bx bxl-html5'></i>
                    
                </div>
                <span class="skill-percentage">95%</span>
            <span class="bar"><span class="html"></span></span>
        </div>
        <div>
                <div class="skills-header">
                    <h4>CSS</h4>
                    <i class='bx bxl-css3'></i>
                </div>
                <span class="skill-percentage">80%</span>
            <span class="bar"><span class="css"></span></span>
        </div>
        <div>
                <div class="skills-header">
                    <h4>JavaScript</h4>
                    <i class='bx bxl-javascript'></i>
                </div>
                <span class="skill-percentage">65%</span>
            <span class="bar"><span class="javascript"></span></span>
        </div>
        <div>
            <div class="skills-header">
                <h4>PHP</h4>
                    <i class='bx bxl-php'></i>

            </div>
            <span class="skill-percentage">55%</span>
            <span class="bar"><span class="php"></span></span>
        </div>
    </div>
    </div>

    <div class="projects">
        <h3 id="subheading">Projecten</h3>
        <div class="projects-container">
          <div class="wrapper">
            <i class="bx bx-left-arrow-alt" id="left"></i>
            <ul class="carousel">
              <li class="card">
                <div class="img">
                  <img
                    src="images/login-registration.png"
                    alt="screenshot login/registratie systeem"
                    draggable="false"
                  />
                </div>
                <div class="card-content">
                  <h2>Login/registratie systeem</h2>
                  <div class="icons">
                    <i class="bx bxl-php"></i>
                    <i class="bx bxl-html5"></i>
                    <i class="bx bxl-css3"></i>
                    <i class="bx bxs-data"></i>
                  </div>
                  <p>
                    Een eenvoudig inlog- en registratiesysteem ontwikkeld in
                    PHP. Het systeem controleert unieke e-mails en
                    gebruikersnamen, beveiligt wachtwoorden met hashing, en
                    beheert gebruikerssessies.
                  </p>
                </div>
                <a
                  href="https://github.com/Lunthn/Login-registration-form"
                  target="_blank"
                  >Meer bekijken</a
                >
              </li>

              <li class="card">
                <div class="img">
                  <img
                    src="images/to-do.png"
                    alt="screenshot to-do lijst"
                    draggable="false"
                  />
                </div>
                <div class="card-content">
                  <h2>To-do list</h2>
                  <div class="icons">
                    <i class="bx bxl-javascript"></i>
                    <i class="bx bxl-html5"></i>
                    <i class="bx bxl-css3"></i>
                  </div>
                  <p>
                    Een eenvoudige takenlijst ontwikkeld in JavaScript. Het
                    biedt functies zoals het weergeven van voltooide taken en
                    het bijhouden van de aanmaak- en voltooiingstijd. De
                    gegevens worden opgeslagen in LocalStorage. 
                  </p>
                </div>
                <a href="https://github.com/Lunthn/To-do-list" target="_blank"
                  >Meer bekijken</a
                >
              </li>

              <li class="card">
                <div class="img">
                  <img src="images/sudoku.png" alt="screenshot sudoku" draggable="false" />
                </div>
                <div class="card-content">
                  <h2>Sudoku</h2>
                  <div class="icons">
                    <i class="bx bxl-javascript"></i>
                    <i class="bx bxl-html5"></i>
                    <i class="bx bxl-css3"></i>
                  </div>
                  <p>
                    Een Sudoku-spel met een backtracking-algoritme. Hiermee
                    wordt een oplosbaar bord gegenereerd en kan het bord
                    desgewenst automatisch worden opgelost. Elke zet wordt de
                    wincondities gecontroleerd.
                  </p>
                </div>
                <a href="https://github.com/Lunthn/JS-projects" target="_blank"
                  >Meer bekijken</a
                >
              </li>
              <li class="card">
                <div class="img">
                  <img
                    src="images/tic-tac-toe.png"
                    alt="screenshot boter kaas en eieren"
                    draggable="false"
                  />
                </div>
                <div class="card-content">
                  <h2>Botor, kaas en eieren</h2>
                  <div class="icons">
                    <i class="bx bxl-javascript"></i>
                    <i class="bx bxl-html5"></i>
                    <i class="bx bxl-css3"></i>
                  </div>
                  <p>
                    Een simpel boter-kaas-en-eieren-spel gemaakt in JavaScript.
                    Het spel bevat een basis game-loop en controleert
                    automatisch op alle mogelijke wincondities. Een spel kan ook
                    eindigen in een gelijkspel.
                  </p>
                </div>
                <a href="https://github.com/Lunthn/JS-projects" target="_blank"
                  >Meer bekijken</a>
                    </li>
            </ul>
            <i class="bx bx-right-arrow-alt" id="right"></i>
        </div>
    </div>
    </div>

    <script src="~/js/experience.js" asp-append-version="true" defer></script>
</section>
