@{
    ViewData["Title"] = "Privacy";
}
<section id="privacy" class="hidden page" >
    <h2 id="heading">Privacy</h2>
    <div>
        <p>
            Ik hecht veel waarde aan jouw privacy en bescherm je persoonsgegevens volgens de geldende wet- en regelgeving, zoals de Algemene Verordening Gegevensbescherming (AVG). In dit privacybeleid leg ik uit welke gegevens ik verzamel, hoe ik deze gebruik en welke rechten jij hebt.
        </p>
    </div>
    <div>
        <h4>
            Welke gegevens verzamel ik?
        </h4>
        <p>
            Ik verzamel gegevens op verschillende manieren, onder andere via cookies. Dit kunnen de volgende soorten gegevens zijn:
        </p>
            <ul>
                <li>Functionele gegevens, zodat de website goed werkt.</li>
                <li>Voorkeursinstellingen, zoals de website-thema.</li>
                <li>Analytische gegevens, bijvoorbeeld via Google Analytics.</li>
            </ul>
    </div>
    <div>
        <h4>
            Deel ik gegevens met derden?
        </h4>
        <p>
            Ik deel jouw gegevens alleen als dat echt nodig is, bijvoorbeeld voor webanalyse of advertentiepartners. Ik zorg ervoor dat deze partijen zorgvuldig omgaan met jouw gegevens en voldoen aan de privacywetgeving.
        </p>
    </div>
    <div>
        <h4>
            Hoe kun je cookies beheren?
        </h4>

        <p>
            Je kunt cookies op elk moment beheren of verwijderen via de instellingen van je browser. Ook kun je in de cookie-instellingen aangeven welke cookies je wilt accepteren.
        </p>
    </div>

    <div>
        <h4>
            Jouw rechten
        </h4>
        <p>
            Je hebt het recht om:
        </p>
            <ul>
                <li>Inzage te vragen in de gegevens die ik van jou bewaar.</li>
                <li>Je gegevens te laten corrigeren of verwijderen.</li>
                <li>Bezwaar te maken tegen het gebruik van bepaalde gegevens.</li>
                <li>Je toestemming voor cookies op elk moment in te trekken.</li>
            </ul>
    </div>
    <p>
        Heb je vragen over mijn privacybeleid? Neem dan contact met mij op via <a href="mailto:nr.lupke@gmail.com">mijn e-mail</a> of bezoek de <a asp-area="" asp-controller="contact" asp-action="Index">contactpagina.</a>
    </p>
</section>