section#landing {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
    padding: 10%;
}

.landing-content, .landing-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.landing-content{
    align-items: start;
}

.landing-image{
    align-content: center;
}

.landing-content h1{
    font-size: 4rem;
}

.landing-content h1 span {
    color: var(--primary-color); 
}

.landing-content h2{
    padding-block: 10px;
    font-size: 2rem;
}

.landing-buttons{
    display: flex; 
    gap: 10px;
    padding-top: 20px;
}
    
#landing-btn-cta, #landing-btn-cta-alt{
    font-size: large;
}

#landing-btn-cta-alt {
    background-color: transparent;
    border: 2px solid var(--primary-color);
}

.landing-image {
    border-radius: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-image img {
    position: static;
    width: 25vw;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
}

@media(max-width: 895px){
    .landing-image img{
        width: 65vw;
    }

    .landing-content h1 {
        font-size: 3rem;
    }

    .landing-content h2{
        font-size: 1.5rem;
    }

    section#landing {
        grid-template-columns: 1fr;
        padding: 10px
    }

    #landing-btn-cta, #landing-btn-cta-alt {
        font-size: small;
    }
}


