section#landing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10%;
}

.landing-content, .landing-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.landing-content{
    align-items: start;
}

.landing-image{
    align-content: center;
}

.landing-content h1{
    font-size: 1.8rem;
}

.landing-content h1 span {
    color: var(--primary-color); 
}

.landing-content h2{
    padding-block: 10px;
    font-size: 1rem;
}

.landing-buttons{
    display: flex; 
    gap: 10px;
    padding-top: 20px;
}
    
#landing-btn-cta, #landing-btn-cta-alt{
    font-size: large;
}

#landing-btn-cta-alt {
    background-color: transparent;
    border: 2px solid var(--primary-color);
}

/* check how to do properly and make dynamic/mobile version */
.landing-image img {
    width: fit-content;
    max-width: 600px;
    min-width: 300px;
    object-fit: cover;
    border-radius: 10px;
}

/* mobile view*/
@media (max-width: 768px) {
    section#landing {
        grid-template-columns: 1fr;
        padding: 10px
    }

    #landing-btn-cta, #landing-btn-cta-alt{
        font-size: small;
    }
}
