@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
    --background-color: #16161a;
    --text-color: #e0e0e0;
    --primary-color: #ef5350;
    --primary-color: #7f5af0;
    --paragraph-color: #a7a9be;
    --button-text: #fff;
    --border-color: #333;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', serif;
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100%;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 5%;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

footer {
    border-top: 1px solid var(--border-color);
    flex-direction: column;
}

    footer p {
        color: white;
    }

    footer .socials {
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }

        footer .socials i {
            font-size: 1.5rem;
            color: var(--primary-color);
        }

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

p {
    color: var(--paragraph-color);
    line-height: 1.5;
}

section {
    min-height: 80vh;
    padding-inline: 5%;
}

#heading {
    font-size: 3rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

button, #btn {
    background-color: var(--primary-color);
    color: var(--button-text);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', serif;
}

nav, .header-links {
    display: flex;
    align-items: center;
}

    .header-links li {
        list-style: none;
        margin-left: 40px;
    }

        .header-links li:first-child {
            margin-left: 0;
        }

.hamburger-menu {
    display: none;
}

    .hamburger-menu button {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }

        .hamburger-menu button i {
            font-size: 1.5rem;
        }

@media (max-width: 768px) {
    html {
        font-size: 16px;
    }

    section, header, footer {
        padding-inline: 20px;
    }

    .hamburger-menu {
        display: block;
    }

    nav {
        display: none;
    }

    section, header, footer {
        padding-inline: 10px;
    }
}
