@{
    ViewData["Title"] = "Home";
}

<section id="landing">
    <div class="landing-content">

        <h1>Hallo, ik ben <span>Nathan</span></h1>
        <h2>(Student) Software Engineer</h2>
        <p>
            Als ICT'er en designer ben ik bekwaam in het onderzoeken van
            technische oplossingen.
        </p>

    </div>
    @* <div class="landing-image"> *@
    @*     <img src="~/images/Profile-picture.jpg" alt="profile picture" /> *@
    @* </div> *@
    
</section>

