@{
    ViewData["Title"] = "Home";
}

<section id="home">
    <div class="landing-content">

        <h1>Hallo, ik ben <span>Nathan</span></h1>
        <h2 id="dynamic-subheading">Software Engineer</h2>
        <p>
            Gepassioneerd door softwareontwikkeling en altijd op zoek naar nieuwe uitdagingen. Ik bouw, leer en experimenteer met technologie om de beste oplossingen te creëren.
        </p>
        <div class="landing-buttons">
            <a asp-area="" asp-controller="contact" asp-action="Index" class="btn" id="landing-btn-cta">Contact opnemen</a>
            <a asp-area="" asp-controller="ervaring" asp-action="Index" class="btn" id="landing-btn-cta-alt">Meer lezen</a>
        </div>
    </div>

    <div class="landing-image"> 
        <img src="~/images/profile-picture.jpg" alt="profielfoto" /> 
    </div>
         
    
</section>

