@{
    ViewData["Title"] = "Home";
}

<section id="landing">
    <div class="landing-content">

        <h1>Hallo, ik ben <span>Nathan</span></h1>
        <h2>(Student) Software Engineer</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in neque sit amet erat gravida accumsan ut ac lorem. Vivamus accumsan vehicula leo, at vulputate dolor semper at. Nam rhoncus est vel facilisis elementum. 

    </div>
         
    
</section>

