<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nathan Lupke</title>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/gdpr.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ervaring.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>
<body>
    <header>
        <h2>
            <a asp-area="" asp-controller="Home" asp-action="Index">Nathan Lupke</a>
        </h2>
        <nav class="navbar">
            <ul class="header-links">
                <li>
                    <a asp-area="" asp-controller="home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="ervaring" asp-action="Index">Ervaring</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="contact" asp-action="Index" class="btn">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="hamburger-menu">
            <button onclick="toggleMenu()">
                <i id="hamburger-icon" class='bx bx-menu-alt-right' ></i>
            </button>
        </div>
        
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <p>
            &copy; <span id="copyright-year"></span> - Nathan Lupke
        </p>
       <div class="socials">
           <a href="https://www.linkedin.com/in/nathan-lupke-a09a4124b/" target="_blank">
                <i class='bx bxl-linkedin'></i>
           </a>
           <a href="https://www.instagram.com/nathanlupke/" target="_blank">
                <i class='bx bxl-instagram'></i>
           </a>
           <a href="https://github.com/Lunthn" target="_blank">
                <i class='bx bxl-github'></i>
           </a>
              
       </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/gdpr.js" asp-append-version="true"></script>
    <script src="~/js/hamburger-menu.js" asp-append-version="true"></script>
    <script src="~/js/ervaring.js" asp-append-version="true"></script>
</body>
</html>
